/* アーカイブページ共通 */
body.archive:not(.category)  {
    section#main-section {
        ul {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 2rem;
        }
    }
}