div#MainVisual {
    position: relative;
    z-index: 100;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: -1;
        background-image: url("../images/mainvisual-bg.jpg");
        background-size: cover;
    }
    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: rgba(19, 30, 61, 70%);
    }
    .main_visual_container {
        padding: 0 112px;
        display: flex;
        div.grid-container {
            grid-template-columns: 1fr 1fr;
            align-items: center;
            div.main_visual-left {
                p.text-style-p-regular {
                    color: var(--dark-mode-font1);
                }
            }
        }
    }
}