div#MainVisual {
    height: 100vh; /* フォールバック */
    height: 100svh;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-image: url("../images/mainvisual-bg.jpg");
        background-size: cover;
    }
    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: rgba(19, 30, 61, 70%);
    }
    .main_visual_container {
        padding: 7rem 7rem;
        grid-template-columns: 1fr 1fr;
        div.main_visual-left {
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            row-gap: 2rem;
            position: relative;
            a.logo-mainvisual {
                display: inline-flex;
                position: absolute;
                top: -44px;
            }
            p.text-style-p-regular {
                color: var(--dark-mode-font1);
            }
        }
    }
}
div#AboutUs {
    height: calc(100svh - 4rem);
    .grid-container {
        grid-template-columns: 1fr 1fr;
        .about_us-right img {
            width: 100%;
        }
    }
}