header#site-header {
    position: fixed;
    width: 100%;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
    &.is-show {
        opacity: 1;
        visibility: visible;
    }
    div.header-inner {
        background-color: var(--dark-mode-background);
        height: 4rem;
        padding: 0 4rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        nav#header-nav {
            ul#header-menu {
                padding: 0;
                margin: 0;
                list-style: none;
                display: flex;
                li {
                    padding: 0 1rem;
                    a {
                        color: var(--dark-mode-font1);
                        text-decoration: unset;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                    ul.sub-menu {
                        display: none;
                    }
                }
            }
        }
    }
    .sp-menu {
        display: none;
    }
}
/* 画面横幅が 768px 以下になったら適用（タブレット・スマホ用） */
@media screen and (max-width: 768px) {
    /* ここにスマホ用のスタイルを書く */
    header#site-header {
        div.header-inner {
            padding: 0 1rem;
            nav#header-nav {
                display: none;
                background-color: var(--dark-mode-background);
                position: absolute;
                top: 0;
                right: 0;
                padding: 4rem 0;
                ul#header-menu {
                    flex-direction: column;
                    li {
                        border-bottom: 1px solid var(--neutral-gray);
                        padding: unset;
                        margin: 0 2rem;
                        a {
                            display: block;
                            padding: 1rem;
                        }
                    }
                }
            }
        }
        .sp-menu {
            display: flex;
            justify-content: center;
            align-items: stretch;
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            aspect-ratio: 1;
            padding: 0.5rem;
            margin-right: 1rem;
            .header-icon {
                padding: 5px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                .lines path {
                    transition: transform 0.3s ease, opacity 0.3s ease;
                    transform-origin: center;
                }
                &.is-active {
                    .lines {
                        width: 30px;
                        .line1 {
                            transform: rotate(135deg) translateY(10px);
                        }
                        .line2 {
                            opacity: 0;
                        }
                        .line3 {
                            transform: rotate(-135deg) translateY(-10px);
                        }
                    }
                }
            }
        }
    }
}
