header#site-header {
    position: fixed;
    width: 100%;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
    &.is-show {
        opacity: 1;
        visibility: visible;
    }
    div.header-inner {
        background-color: var(--dark-mode-background);
        height: 4rem;
        padding: 0 4rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        nav#header-nav {
            ul#header-menu {
                padding: 0;
                margin: 0;
                list-style: none;
                display: flex;
                li {
                    position: relative;
                    padding: 0 1rem;
                    a {
                        color: var(--dark-mode-font1);
                        text-decoration: unset;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                    ul.sub-menu {
                        background-color: var(--dark-mode-background);
                        position: absolute;
                        top: 100%;
                        left: 0;
                        width: max-content;
                        padding: 1rem;
                        transform: translateY(calc(-100% - 4rem));
                        opacity: 0;
                        transition: opacity 0.3s ease;
                        li {
                            border-top: 1px solid var(--neutral-gray);
                            padding: unset;
                            &:last-child {
                                border-bottom: 1px solid var(--neutral-gray);
                            }
                            a {
                                display: block;
                                padding: 1rem;
                            }
                        }
                    }
                    &:has(.sub-menu) {
                        > a {
                            display: flex;
                            align-items: center;
                            gap: 0.5rem;
                            &::after {
                                content: "";
                                display: block;
                                width: 1rem;
                                height: 1rem;
                                background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M12 17.1L3 8L4 7L12 15L20 7L21 8L12 17.1Z" fill="%23F4F1EC"/></svg>');
                                transition: background-image 0.3s ease;
                            }
                        }
                    }
                    &:hover {
                        > a {
                            &::after {
                                background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M4 16.5004L3 15.5004L12 6.40039L21 15.5004L20 16.5004L12 8.60039L4 16.5004Z" fill="%23F4F1EC"/></svg>');
                            }
                        }
                        ul.sub-menu {
                            opacity: 1;
                            transform: translateY(0);
                        }
                    }
                }
            }
        }
    }
    .sp-menu {
        display: none;
    }
}
/* 画面横幅が 768px 以下になったら適用（タブレット・スマホ用） */
@media screen and (max-width: 768px) {
    /* ここにスマホ用のスタイルを書く */
    header#site-header {
        div.header-inner {
            padding: 0 1rem;
            nav#header-nav {
                transition: transform 0.3s ease;
                transform: translateX(100%);
                background-color: var(--dark-mode-background);
                position: absolute;
                top: 0;
                right: 0;
                padding: 4rem 0;
                width: 50%;
                max-height: 100svh;
                overflow-y: scroll;
                &.is-active {
                    transform: translateX(0);
                }
                ul#header-menu {
                    flex-direction: column;
                    li {
                        border-top: 1px solid var(--neutral-gray);
                        padding: unset;
                        margin: 0 2rem;
                        &:last-child {
                            border-bottom: 1px solid var(--neutral-gray);
                        }
                        a {
                            display: block;
                            padding: 1rem;
                        }
                        ul.sub-menu {
                            transform: unset;
                            position: unset;
                            padding: unset;
                            width: auto;
                            opacity: unset;
                            li {
                                margin-right: unset;
                                &:last-child {
                                    border-bottom: unset;
                                }
                            }
                        }
                        &:has(.sub-menu) {
                            & > a {
                                &::after {
                                    content: unset;
                                }
                            }
                        }
                    }
                }
            }
        }
        .sp-menu {
            display: flex;
            justify-content: center;
            align-items: stretch;
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            aspect-ratio: 1;
            padding: 0.5rem;
            margin-right: 1rem;
            .header-icon {
                padding: 5px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                .lines path {
                    transition: transform 0.3s ease, opacity 0.3s ease;
                    transform-origin: center;
                }
                .close {
                    display: none;
                }
                &.is-active {
                    .lines {
                        width: 30px;
                        .line1 {
                            transform: rotate(135deg) translateY(10px);
                        }
                        .line2 {
                            opacity: 0;
                        }
                        .line3 {
                            transform: rotate(-135deg) translateY(-10px);
                        }
                    }
                    .menu {
                        display: none;
                    }
                    .close {
                        display: block;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 480px) {
    header#site-header {
        div.header-inner {
            padding: 0 1rem;
            nav#header-nav {
                width: 80%;
                ul#header-menu {
                    li {
                        a {
                            padding: 0.5rem;
                        }
                    }
                }
            }
        }
    }
}
