:root {
/* 色の定義 */
    --neutral-light: #F4F1EC;
    --neutral-dark: #131E3D;
    --neutral-gray: #7A7A7A;

    --primitive-gold-l71: #694B1E;
    --primitive-gold-l47d31: #7E684A;
    --primitive-gold-l45d32: #8F672C;
    --primitive-gold-l31d48: #A18860;
    --primitive-gold-d77: #CDAD7D;
    --primitive-gold-d93: #DBBF94;
    --primitive-gold-d86: #E8D1AE;

    --dark-mode-background: var(--neutral-dark);
    --dark-mode-font1: var(--neutral-light);
    --dark-mode-font2: var(--primitive-gold-d77);
    --dark-mode-button-text: var(--neutral-dark);
    --dark-mode-button-default: var(--primitive-gold-d77);
    --dark-mode-button-hover: var(--primitive-gold-d93);
    --dark-mode-button-active: var(--primitive-gold-d86);
    --dark-mode-button-focus-outline: var(--neutral-light);
    --dark-mode-button-focus-shadow: var(--neutral-dark);

    --light-mode-background: var(--neutral-light);
    --light-mode-font1: var(--neutral-dark);
    --light-mode-font2: var(--primitive-gold-l45d32);
    --light-mode-button-text: var(--neutral-light);
    --light-mode-button-default: var(--primitive-gold-l31d48);
    --light-mode-button-hover: var(--primitive-gold-l47d31);
    --light-mode-button-active: var(--primitive-gold-l71);
    --light-mode-button-focus-outline: var(--neutral-dark);
    --light-mode-button-focus-shadow: var(--neutral-light);
}

/* フォントに関するスタイル */
.text-style-main-copy {
    font-family: "Noto Serif JP", serif;
    font-weight: 700; /* Bold */
    font-size: 57px;
    line-height: 1.4;
    letter-spacing: 0;
    color: var(--dark-mode-font2);
}
.text-style-h1 {
    font-family: "Noto Serif JP", serif;
    font-weight: 700; /* Bold */
    font-size: 36px;
    line-height: 1.4;
    letter-spacing: 0.01em;
}
.text-style-h2 {
    font-family: "Noto Serif JP", serif;
    font-weight: 700; /* Bold */
    font-size: 28px;
    line-height: 1.5;
    letter-spacing: 0.01em;
}
.text-style-h3 {
    font-family: "Noto Serif JP", serif;
    font-weight: 700; /* Bold */
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.text-style-shoulder {
    font-family: "Libre Baskerville", serif;
    font-weight: 400; /* Regular */
    font-size: 16px;
    line-height: 1;
    letter-spacing: 0.02em;
}
.text-style-subtitle {
    font-family: "Noto Serif JP", serif;
    font-weight: 400; /* Regular */
    font-size: 16px;
    line-height: 1;
    letter-spacing: 0.02em;
}
.text-style-p-bold {
    font-family: "Noto Serif JP", serif;
    font-weight: 700; /* Bold */
    font-size: 17px;
    line-height: 1.7;
    letter-spacing: 0.02em;
}
.text-style-p-regular {
    font-family: "Noto Serif JP", serif;
    font-weight: 400; /* Regular */
    font-size: 17px;
    line-height: 1.7;
    letter-spacing: 0.02em;
}
.text-style-a-regular {
    font-family: "Noto Serif JP", serif;
    font-weight: 400; /* Regular */
    font-size: 17px;
    line-height: 1.7;
    letter-spacing: 0.02em;
}
.text-style-button {
    font-family: "Noto Serif JP", serif;
    font-weight: 700; /* Bold */
    font-size: 16px;
    line-height: 1;
    letter-spacing: 0.02em;
}
.text-style-table-header {
    font-family: "Noto Serif JP", serif;
    font-weight: 700; /* Bold */
    font-size: 17px;
    line-height: 1.3;
    letter-spacing: 0em;
}
.text-style0table-body {
    font-family: "Noto Serif JP", serif;
    font-weight: 400; /* Regular */
    font-size: 17px;
    line-height: 1.3;
    letter-spacing: 0em;
}
.text-style-footer-bold {
    font-family: "Noto Serif JP", serif;
    font-weight: 700; /* Bold */
    font-size: 16px;
    line-height: 1.7;
    letter-spacing: 0.02em;
}
.text-style-footer-regular {
    font-family: "Noto Serif JP", serif;
    font-weight: 400; /* Regular */
    font-size: 16px;
    line-height: 1.7;
    letter-spacing: 0.02em;
}

/* 共通の定義 */
* {
    box-sizing: border-box;
}
body, h1, h2, h3, h4, h5, h6, p, ul, ol, dl, dd, blockquote, figure {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Libre Baskerville", serif;
    color: var(--light-mode-font1);
}
input, button, textarea, select {
    color: inherit;
}
.dark-mode {
    background-color: var(--dark-mode-background);
    :focus {
        outline: none
    }
    :focus-visible {
        box-shadow: 0px 0px 0px 2px var(--dark-mode-button-focus-shadow);
        outline-offset: 2px;
        outline: 2px solid var(--dark-mode-button-focus-outline);
    }
}
.light-mode {
    background-color: var(--light-mode-background);
    :focus {
        outline: none
    }
    :focus-visible {
        box-shadow: 0px 0px 0px 2px var(--light-mode-button-focus-shadow);
        outline-offset: 2px;
        outline: 2px solid var(--light-mode-button-focus-outline);
    }
}
.h-100svh {
    height: 100svh;
}
.container {
    padding: 0 4rem;
    z-index: 1;
}
.inner_container {
    padding: 5rem 0;
}
.flex {
    display: flex;
}
.grid {
    display: grid;
    min-height: 0;
}

/* コンポーネント */
button {
    cursor: pointer;
    min-width: 130px;
    min-height: 56px;
    padding: 1rem 2rem;
    border: 1px solid var(--neutral-gray);
}
.dark-mode button {
    background-color: var(--dark-mode-button-default);
    color: var(--dark-mode-button-text);
    &:hover {
        background-color: var(--dark-mode-button-hover);
    }
    &:active {
        background-color: var(--dark-mode-button-active);
    }
}
.light-mode button {
    background-color: var(--light-mode-button-default);
    color: var(--light-mode-button-text);
    &:hover {
        background-color: var(--light-mode-button-hover);
    }
    &:active {
        background-color: var(--light-mode-button-active);
    }
}