/* 固定ページ共通 */
body.page {
    section#title {
        min-height: auto;
    }
    section {
        min-height: 100svh;
        padding-top: 4rem;
        display: flex;
        .inner_container {
            display: flex;
            flex-direction: column;
            gap: 4rem;
            div.headings {
                text-align: center;
            }
        }
    }
    section#greeting {
        .greeting-message {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 2rem;
            align-items: center;
            > div {
                display: flex;
                flex-direction: column;
                gap: 2rem;
                text-align: center;
            }
            img {
                width: 100%;
            }
        }
        .director-history {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            align-items: center;
            .row {
                display: flex;
                gap: 1rem;
            }
        }
    }
}