/* 固定ページ共通 */
body.page {
    section#title {
        min-height: auto;
        div.headings {
            text-align: center;
        }
    }
    section {
        min-height: 100svh;
        padding-top: 4rem;
        display: flex;
    }
}